body{
    background-color: #99b898;
}

p{
    font-size: 30px;
    color: rgb(32, 22, 177);
}

.box{
    border: solid red;
    border-width: 5px;
    width: 500px;
    margin: 50px;
    padding: 50px;
}

.box2{
    border: solid green;
    border-width: 5px;
    width: 500px;
    margin: 50px;
    padding: 50px;
}